
<br>

<br>

<br>

<br>

<br>

<br>

<section class="section pt-5" id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">Our Pricing</h1>
                    <div class="section-title-border margin-t-20"></div>
                    <p class="section-subtitle font-secondary text-muted text-center padding-t-30">Call to action pricing table is really crucial to your for your business website. Make your bids stand-out with amazing options.</p>
                </div>
            </div>
            <div class="row margin-t-50">
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Silver</h4>
                        <h1>$25
                            </h1>
                        <h6 class="text-uppercase text-muted">One Time Fee</h6>
                        <div class="pricing-border"></div>
                        <div class="plan-features margin-t-30">
                            <p>One time fee to begin the discussion <b class="text-custom"></b></p>
                            <p>Les and his team will schedule time with you to discuss your betting interests </p>
                            
                                
                          
    
                        </div>
                        <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">PaypalCheckout(placeholder)</a>
    
                        </div>
    
                </div>
    
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Gold</h4>
                        <h1>$99/mo</h1>
                        <h6 class="text-uppercase text-muted">Per Month</h6>
                        <div class="pricing-border"></div>
                        <div class="plan-features margin-t-30">
                            <p>Les's weekly picks <b class="text-custom"></b></p>
                            <p>Current Sports News & Headlines<b class="text-custom"></b></p>
                            <p>Sports Insights & Analysis<b class="text-custom">Yes</b></p>
                          
                            
                        </div>
                        <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">PaypalCheckout(placeholder)</a>
    
                    </div>
    
                </div>
                <div class="col-lg-4">
                    <div class="text-center pricing-box hover-effect">
                        <h4 class="text-uppercase">Platinum</h4>
                        <h1>$499</h1>
                        <h6 class="text-uppercase text-muted">Per Month</h6>
                        <div class="pricing-border"></div>
                        <div class="plan-features margin-t-30">
                            <p>Les's daily picks</p>
                            <p>Les's weekly picks50MB</p>
                            <p>Current Sports News & Headlines <!---<b class="text-custom">No</b>--></p>
                            <p>Sports Insights & Analysis </p>
    
                            
                        </div>
                        <a href="#" class="btn btn-custom waves-effect waves-light margin-t-30">PaypalCheckout(placeholder)</a>
    
                    </div>
    <!---
                    <p>            <ngx-paypal #payPalElem1 [config]="payPalConfig" [registerScript]="false"></ngx-paypal>
                    </p>

                -->
                </div>
    
            </div>
        </div>
      </section>
    







   