<section class="section bg-light" id="features" scrollSpyElement="about">
  <div class="container">
      <div class="row vertical-content">
          <div class="col-lg-5">
              <div class="features-box">
                  <h3>Get your picks right to your phone!</h3>
                  <h4>Why bet with Les?</h4>
                  <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                      <li class="">Years of experience</li>
                      <li class="">Eliminate the guesswork</li>
                      <li class="">Unique insights and betting
                        strategies sent directly to your
                        phone</li>
                        <li>Speak with an expert… live!</li>
                  </ul>
                  <a href="#" class="btn btn-custom margin-t-30 waves-effect waves-light">Learn More <i class="mdi mdi-arrow-right"></i></a>
              </div>
          </div>
          <div class="col-lg-7">
              <div class="features-img features-right text-right">
                  <img src="assets/images/sports4.jpg" alt="macbook image" class="img-fluid">
              </div>
          </div>
      </div>
  </div>
</section>