
<div class="a">
    <br>
    <br>
    <br>
    <br>
    
    <h1 >News</h1>
    
    <div class="project_container">
              
              
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/working.svg">
          </div>
          <div class="card-end">
              <a ><h4>Pick</h4></a>
            </div>
        </div>
    
        <div class="card-content">
    
    
       
    
        </div>
    
        <br>
    
    </div>
    
    
    <div class="card hoverable">
              
      <div class="card-start">
        <div class="blog-box margin-t-30 hover-effect" *ngFor="let mypick of mypicks">

        <div class="project_img">
          <img src="{{ mypick.fields.mypickImage.fields.file.url }}" class="rounded" width="196" >
          
        </div>
        <div class="card-end">
          </div>
      </div>
      
      <div class="card-content">
  
   
  </div>
      </div>
  
      <br>
      
    
      </div>
  
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/packet.svg">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
          
        </div>
    
        <br>
        
        
      
    </div>
    
      <br>
    
          <div class="card hoverable">
    
        <div class="card-start">
          
      
          <div class="project_img">
            <img src="assets/images/cloudian2.png">
          </div>
         
        
        <div class="card-end">
          </div>
        </div>
        <div class="card-content">

        </div>
    
        <br>
        
       
    
      </div>
    
      <div class="card hoverable">
    
        <div class="card-start">
            
      
          <div class="project_img">
            <img src="assets/images/ukcloud.png">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
    
        </div>
    
        <br>
        
    
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
            
          <div class="project_img">
            <img src="assets/images/jet.png">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
     
    
        </div>
    
        <br>
        
      
        </div>
    
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/connexin.png">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
         
    
        </div>
    
        <br>
        
      
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
           
      
          <div class="project_img">
            <img src="assets/images/quant.png">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
    
    
        </div>
    
        <br>
        
       
    
      </div>
      <div class="card hoverable">
    
        <div class="card-start">
    
           
          <div class="project_img">
            <img src="assets/images/pryon2.png">
          </div>
          <div class="card-end">
            </div>
        </div>
        
        <div class="card-content">
    
         
    
        </div>
    
        <br>
        
       
      <!--
    <div class="card hoverable">
    
      <div class="card-start">
         
    
        <div class="project_img">
          <img src="assets/images/quant.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <ul>
          <a href="https://www.prnewswire.com/news-releases/quantela-a-smart-city-automation-and-ai-leader-announces-a-10m-equity-investment-from-digital-alpha-to-scale-its-global-business-828415024.html" ><li>$10m Equity Investment From Digital Alpha to Scale its Global Business</li></a>
          <a href="https://www.prnewswire.com/in/news-releases/world-economic-forum-awards-quantela-inc-the-coveted-technology-pioneer--827359253.html" ><li>World Economic Forum Awards Quantela Inc. the Coveted 'Technology Pioneer'</li></a>
            
        <a href="https://finance.yahoo.com/news/quantela-roll-smart-city-services-123000912.html"  ><li>Quantela to Roll Out Smart City Services in the Opportunity Zones of the City of Erie, PA</li></a>
        </ul>
  
      </div>
  
      <br>
      
     
  
    </div>
      </div>
      -->
    </div>
      <br>
      
     
  
  

    <style>
    
    h1 {
      text-align: center;
    }
    .a {
      background-color: #631313; 
    }
    li {
      font-size: 12px;
    }
    </style>
    